.layout {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.link{
    text-decoration: none;
    color: #F2F2F3;
}

.title{
    width: 600px;
    height: 40px;
    margin-bottom: 12px;
}

.orders{
    width: 600px;
    height: 500px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.orders::-webkit-scrollbar {
    width: 8px;
}
  
.orders::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #4C4CFF, #4C4CFF)
}