.layout {
    width: 600px;
    height: 912px;
    padding-top: 40px;
    padding-left: 60px;
}

.title{
    width: 600px;
    height: 40px;
}

.tabs{
    width: 600px;
    height: 56px;
    padding-top: 20px;
    display: flex;
}

.ingredients{
    width: 600px;
    height: 756px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.columns{
    width: 600px;
    min-height: 208px;
    display: flex;
    flex-wrap: wrap;
}

.ingredients::-webkit-scrollbar {
    width: 8px;
}
  
.ingredients::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #4C4CFF, #4C4CFF)
}
