.content{
    height: 56px;
    padding-top: 16px;
    display: flex;
    justify-content: center;
    padding-left: 160px;
    padding-right: 160px;
}

.nav_link {
    display: flex;
    width: 197px;
    height: 56px;
    padding: 16px 20px 16px 20px;
    border-radius: 40px;
    gap: 8px;
    cursor: pointer;
}

.nav_link_last {
    composes: nav_link;
    margin-left: auto;
}

.nav_link_name {
    width: 125px;
    height: 24px;
    color: #8585AD;
    text-decoration: none;
}

.nav_link_name_acitve {
    composes: nav_link_name;
    color: #F2F2F3;
}