.layout {
    height: 912px;
    padding-top: 128px;
    padding-left: 40px;
}

.bun{
  padding-left: 20px;
}

.components{
  display: flex; 
  flex-direction: column;
  gap: 10px;
  height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 8px;
  margin-bottom: 8px;
}

.components::-webkit-scrollbar {
    width: 8px;
}
  
  
.components::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #4C4CFF, #4C4CFF)
}

.order_info{
  height: 64px;
  padding-top: 40px;
  gap: 40px;
  display: flex; 
  justify-content: flex-end;
}

.price{
  height: 64px;
  gap: 8px;
  display: flex; 
  align-items: center;
}