.layout {
    height: 912px;
    padding-top: 128px;
    padding-left: 40px;
    min-width: 650px;
}

.components{
  display: flex; 
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 8px;
  margin-bottom: 8px;
  max-height:250px;
}

.components::-webkit-scrollbar {
    width: 8px;
}
  
.components::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #4C4CFF, #4C4CFF)
}

.component_container {
  margin-left: 20px;
}

.order_info{
  height: 64px;
  padding-top: 40px;
  gap: 40px;
  display: flex; 
  justify-content: center;
}

.price{
  height: 64px;
  gap: 8px;
  display: flex; 
  align-items: center;
}

.constructor_cap_text {
  margin-right: 20px;
  line-height: 24px;
  flex-grow: 1;
  text-align: center;
}

.ingredients_container{
  margin-left: 20px;
}

.isHover {
  border: 2px dashed #4C4CFF;
}

